// Переменная
- var value = true
- var number = 3

// Миксин
mixin link_list(name, link)
    li
        a(href=link).my-class=name

doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')

        // Показать, куда будет утановлен дочерний элемент
        block scripts

    body
        // Вставить содержимое файла
        include path/to/file.ext

        // Добавить класс
        b.class el
        // Добавить id
        b#id el

        // Элемент в элементе
        b Ссылка на ВК: #[a(href='vk.com')]

        // Многострочный текст
        b.
            hello
            world

        // Аттрибуты
        a(class='link' href='google.com') Click me!
        b(style={color: 'red'})
        a(href="#")&attributes({attr: 123});

        // Многострочные
        input(
            type='button'
            name='go'
            value='Send'

            checked
            checked=true
        )

        // h1 со значением переменной
        h1= title
        // Использование переменных
        p Welcome to #{title}

        // Использование миксина
        ul
            +link_list('#', 'name')

        // Условия
        if value
            // el
        else
            // el

        p(class=value ? 'link' : '')

        case number
            when 1
                // el
            when 2
                // el
            default
                // el


        // Циклы
        for i in [1, 2, 3, 4]
            // el

        each i in [1, 2, 3, 4]
            // el

        while number < 10
            li= number++



// 2 файл
// Наследование файла
extends layout

// Замена родительского блока на этот
block scripts
    script(src='/assets/js/main.js')
